.chat_message {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
}
.message_box {
  padding: 6px 7px 8px 9px;
  max-width: 500px;
  border-radius: 7.5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.incoming {
  align-items: flex-start;
}

.message_box.incoming {
  background-color: white;
}

.message_box.outgoing {
  background-color: var(--outgoing-message);
}

.outgoing {
  align-items: flex-end;
}
