.chat {
  position: relative;
  display: flex;
  flex: 0.8;
  background-color: var(--chat-body-color);
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
}

.chat_empty {
  display: flex;
  position: relative;
  background-color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
}
