.group_card {
  display: flex;
  align-items: center;
  padding: 10px;
}

.group_card__group_name {
  flex: 1;
  padding-left: 12px;
}

.group_card__image_and_name {
  display: flex;
  align-items: center;
}

.group_card__group_image {
  border-radius: 50%;
  height: 49px;
}
.group_card__container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.group_card__upper_container {
  align-items: center;
  display: flex;
}

.group_card__time_stamp {
  font-size: 0.75rem;
}

.group_card__lower_container {
  display: flex;
  align-items: center;
  flex: 1;
}

.group_card__last_message_author {
  padding-left: 12px;
}
.group_card__last_message,
.group_card__last_message_author {
  font-size: 0.75rem;
}
.colon {
  font-size: 0.75rem;
  padding: 0 2px;
}
