.user_card {
  display: flex;
  align-items: center;
  background-color: var(--other-colors);
  padding: 12px;
  color: var(--text-color);
}

.user_card__user_name {
  flex: 1;
  padding-left: 12px;
  font-size: 1.1rem;
}

.user_card__user_image {
  border-radius: 50%;
  width: 40px;
}

.fa-ellipsis-v {
  width: 5px;
  margin: 0 12px;
}
