.toast-container {
  font-size: 14px;
  position: fixed;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12px;
  margin: 0 auto;
  flex-direction: column;
}

.toast-container > * {
  margin: 2px 0;
}

.toast-message {
  margin: 0;
  text-align: left;
  height: auto;
}

.toast-sub-container {
  display: flex;
}

.toast-image {
  float: left;
  margin-right: 15px;
}

.toast-image img {
  width: 30px;
  height: 30px;
}

.toast {
  width: 500px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}

.toast-container button {
  position: relative;
  right: -0.3em;
  /* top: -0.3em; */
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
