.chat {
  flex: 0.75;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
.chat__body {
  flex: 1;
}
.chat__footer {
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 0.1fr 5fr 0.1fr 0.1fr 0.1fr;
}

.chat__footer__form {
  flex: 1;
  display: flex;
}

.chat__footer__form > input {
  flex: 1;
}
