.chat {
  position: relative;
  display: flex;
  flex: 0.8;
  background-color: lightyellow;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
}

body {
  background-image: url("../../assets/bg1.jpg") !important;
  background-size: 1000px;
}
