.main {
  display: flex;
  flex: 0.5;
  background-color: var(--common-outer-container);
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background: var(--common-inner-container);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_image {
  width: 100%;
}
.project_name {
  color: #3d3d3d;
  font-size: 4rem;
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.other_option {
  margin-top: 20px;
  font-size: 0.8rem;
}

input {
  border-style: solid;
  border-width: 2px;
}

btn {
  height: 40px;
  margin-top: 12px;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  border: none;
}

btn:hover {
  border: solid;
  border-width: 1px;
}

.notice {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.notice_header {
  font-size: 2em;
  color: green;
  font-weight: 100;
  text-align: center;
}

.notice_logo {
  width: 20%;
  height: 20%;
}

.notice_logo_image {
  width: 80%;
}

.notice_project_name {
  font-size: 2rem;
}

.notice_body {
  padding: 40px;
  text-align: center;
}

.notice_button {
  font-size: 1.8rem;
}
