.app {
  display: flex;
  height: 95vh;
  width: 90vw;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.14); */
  justify-content: center;
}

.app > div {
  box-sizing: border-box;
}

.maintain_size {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fas {
  cursor: pointer;
}
