/* @font-face {
  font-family: "Architects Daughter";
  src: url(D:\Chat\pigeon\src\assets\ArchitectsDaughter-Regular.ttf);
} */

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Architects Daughter", cursive;
}
/* #background-video {
  position: fixed;
  z-index: -1;
  display: none;
} */

.app__body {
  position: fixed;
  display: flex;
  width: 95vw;
  height: 95vh;
  background: rgba(148, 225, 250, 0.5);
}
